@model StockControlWeb.Models.Producto

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="margin-top:3%">
    <a href="#" class="btn btn-primary" onclick="AgregarProducto(0)">Agregar Producto </a> <br /> <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="active">
                    <th>Producto ID</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio Venta</th>
                    @*<th>Precio Compra</th>*@
                    <th>Cantidad</th>
                    <th>Stock</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="SetProductoList">
                <tr id="LoadingStatus" style="color:red"></tr>
            </tbody>
        </table>
    </div>


    @*Create a PopUp modal with registration form for add or edit Producto*@
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(m => m.IdProducto, new { @id = "Id" })
                            <div class="form-group">
                                    @Html.TextBoxFor(m => m.Codigo, new { @id = "Codigo", @class = "form-control", @placeholder = "Codigo" })
                                </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ProductoName, new { @id = "Nombre", @class = "form-control", @placeholder = "Nombre" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.PrecioVenta, new { @id = "PrecioVenta", @class = "form-control", @placeholder = "Precio Venta" })
                            </div>
                            @*<div class="form-group">
                                @Html.TextBoxFor(m => m.PrecioCompra, new { @id = "PrecioCompra", @class = "form-control", @placeholder = "Precio Compra" })
                            </div>*@
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Cantidad, new { @id = "Cantidad", @class = "form-control", @placeholder = "Cantidad" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Stock, new { @id = "Stock", @class = "form-control", @placeholder = "Stock" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveProducto">Guardar</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create a PopUp Modal for DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Eliminar Producto</h4>
                </div>
                <div class="modal-body">
                    <h4>Esta seguro que desea eliminar el Producto?.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-primary" onclick="ConfirmarDelete()">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#LoadingStatus").html("Loading...")
    $.get("/Producto/GetProductoList", null, DataBind);
    function DataBind(ProductoList) {
        var setData = $("#SetProductoList");
        for (var i = 0; i < ProductoList.length; i++) {
            var Data = "<tr class='row_" + ProductoList[i].IdProducto + "'>" +
                "<td>" + ProductoList[i].IdProducto + "</td>" +
                "<td>" + ProductoList[i].Codigo + "</td>" +
                "<td>" + ProductoList[i].ProductoName + "</td>" +
                "<td>" + ProductoList[i].PrecioVenta + "</td>" +
                //"<td>" + ProductoList[i].PrecioCompra + "</td>" +
                "<td>" + ProductoList[i].Cantidad + "</td>" +
                "<td>" + ProductoList[i].Stock + "</td>" +
                "<td>" + "<a href='#' class='btn btn-primary' onclick='Edit(" + ProductoList[i].IdProducto + ")'><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='Delete(" + ProductoList[i].IdProducto + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                "/tr>";

            setData.append(Data);
            $("#LoadingStatus").html(" ")
        }
    }

    //Show the PopUp Modal for add new Producto
    function AgregarProducto(IdProducto) {
        $("#form")[0].reset();
        $("#ModalTitle").html("Agregar Producto");
        $("#MyModal").modal();
    }

    //Show the PopUp Modal for edir Producto Record
    function Edit(IdProducto) {
        var url = "/Producto/GetProductoById?IdProducto=" + IdProducto;
        $("#ModalTitle").html("Actualizar Producto");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#Id").val(obj.IdProducto);
                $("#Codigo").val(obj.Codigo);
                $("#Nombre").val(obj.ProductoName);
                $("#PrecioVenta").val(obj.PrecioVenta);
                //$("#PrecioCompra").val(obj.PrecioCompra);
                $("#Cantidad").val(obj.Cantidad);
                $("#Stock").val(obj.Stock);
            }
        })
    }

    $("#SaveProducto").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Producto/SaveDataInDatabase",
            data: data,
            success: function (result) {
                alert("Success!...");
                window.location.href = "/Producto/index";
                $("#MyModal").modal("hide");
            }
        })
    })

    //Show de PopUp Modal for DeleteConfermation
    function Delete(IdProducto) {
        $("#Id").val(IdProducto);
        $("#DeleteConfirmation").modal("show");
    }

    function ConfirmarDelete() {
        var IdProducto = $("#Id").val();
        $.ajax({
            type: "POST",
            url: "/Producto/DeleteProducto?IdProducto=" + IdProducto,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + IdProducto).remove();
            }
        })
    }
</script>